@import url("../CSS/design.css");

/* Espace autour du logo */
.navbar-brand img {
    border-radius: 5px;
}

/* Style des liens */
.nav-link {
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: var(--rouge-claire); /* Couleur au survol */
}

/* Active link style */
.nav-link.active {
    font-weight: bold;
    color: var(--rouge-claire);
}
